In [10]:
import numpy as np 
import pandas as pd 


myData = pd.read_csv('myData.csv')
myData.head()

   Unnamed: 0  Column1  Column2  Column3  Column4  Column5
0           0        0       50      100      150      200
1           1        1       51      101      151      201
2           2        2       52      102      152      202
3           3        3       53      103      153      203
4           4        4       54      104      154      204

### Standard Deviation of Standard Deviations Challenge

In [11]:
import math as m

def stdv(x):
    average = sum(x) / len(x)
    sumSq = sum([pow(i - average, 2) for i in x])
    variance = sumSq / len(x)
    return m.sqrt(variance) 

col6 = [stdv(np.array(myData['Column1'].values)), 
       stdv(np.array(myData['Column2'].values)),
       stdv(np.array(myData['Column3'].values)),
       stdv(np.array(myData['Column4'].values)),
       stdv(np.array(myData['Column5'].values))]

print('The standard deviation of standard deviations is: ' + str(stdv(col6)))

The standard deviation of standard deviations is: 0.0