### Finding the Time Delta in Stock High Price

In [1]:
import numpy as np 
import pandas as pd 
%matplotlib inline 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/EsDayRange.csv', names=['DateTime', 'ESZ8','Open','High','Low','Last',
                                                 'Volume','OpenInterest','range','Over50'])
df.head()

,DateTime,ESZ8,Open,High,Low,Last,Volume,OpenInterest,range,Over50
0,Date Time,ESZ8,Open,High,Low,Last,Volume,Open Interest,range,Over_50_points
1,2013-10-25,ESZ8,1659.75,1667.5,1654.5,1665.75,1253456,2731098,13.0,False
2,2013-10-28,ESZ8,1665.5,1674.0,1663.25,1670.75,1157924,2736038,10.75,False
3,2013-10-29,ESZ8,1670.75,1680.5,1666.25,1679.25,1189498,2741642,14.25,False
4,2013-10-30,ESZ8,1680.0,1685.0,1663.5,1672.25,1778748,2763150,21.5,False

In [3]:
df[(df.DateTime == '2014-02-04')].High

69    1671.5
Name: High, dtype: object

In [10]:
df.High.tolist()

TypeError: '>=' not supported between instances of 'list' and 'float'