### Finding the Time Delta in Stock High Price

In [1]:
import numpy as np 
import pandas as pd 
%matplotlib inline 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/EsDayRange.csv', names=['DateTime', 'ESZ8','Open','High','Low','Last',
                                                 'Volume','OpenInterest','range','Over50'])
df.head()

,DateTime,ESZ8,Open,High,Low,Last,Volume,OpenInterest,range,Over50
0,Date Time,ESZ8,Open,High,Low,Last,Volume,Open Interest,range,Over_50_points
1,2013-10-25,ESZ8,1659.75,1667.5,1654.5,1665.75,1253456,2731098,13.0,False
2,2013-10-28,ESZ8,1665.5,1674.0,1663.25,1670.75,1157924,2736038,10.75,False
3,2013-10-29,ESZ8,1670.75,1680.5,1666.25,1679.25,1189498,2741642,14.25,False
4,2013-10-30,ESZ8,1680.0,1685.0,1663.5,1672.25,1778748,2763150,21.5,False

In [3]:
df[(df.DateTime == '2014-02-04')].High

69    1671.5
Name: High, dtype: object

In [20]:
highList = df.High.tolist()  
highList_values = [float(i) for i in highList[1:]]
highList_filtered = [i for i in highList_values if i >= 1671.5] 
highList_filtered_indexed = [highList_filtered.index(i) for i in highList_filtered] 
df.ilc

[0, 1, 2, 3, 4, 3, 3, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 17, 28, 29, 29, 31, 32, 33, 34, 35, 36, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 57, 60, 61, 19, 22, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 52, 75, 76, 75, 57, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 85, 81, 94, 95, 96, 97, 98, 99, 100, 101, 102, 83, 104, 105, 106, 107, 108, 109, 110, 97, 96, 50, 114, 80, 116, 117, 118, 105, 120, 121, 122, 89, 90, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 130, 138, 139, 140, 133, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 150, 158, 159, 160, 161, 162, 163, 164, 165, 166, 161, 168, 169, 170, 171, 172, 173, 173, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 179, 187, 180, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 209, 209, 220, 221, 222, 223, 224, 212, 226, 208, 209, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 134, 243, 244, 245, 246, 247, 236, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 255, 285, 286, 287, 288, 289, 290, 291, 292, 292, 294, 295, 296, 297, 298, 299, 300, 270, 297, 303, 304, 305, 306, 259, 264, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 303, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 338, 340, 341, 342, 322, 344, 345, 341, 347, 348, 349, 336, 351, 352, 353, 269, 355, 356, 272, 358, 359, 360, 361, 362, 363, 364, 329, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 376, 378, 379, 380, 381, 382, 383, 384, 384, 351, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 389, 389, 399, 400, 401, 402, 403, 404, 405, 335, 373, 408, 352, 410, 387, 395, 413, 414, 415, 416, 417, 418, 327, 356, 421, 422, 423, 424, 294, 426, 427, 379, 429, 430, 416, 432, 391, 434, 375, 436, 381, 438, 439, 440, 440, 442, 332, 444, 374, 336, 447, 448, 449, 450, 330, 452, 331, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 210, 187, 468, 469, 470, 204, 210, 473, 257, 475, 224, 477, 478, 479, 480, 481, 249, 483, 484, 201, 486, 487, 256, 489, 490, 491, 491, 493, 494, 317, 496, 497, 498, 319, 500, 501, 502, 355, 504, 334, 381, 442, 508, 509, 510, 400, 374, 338, 514, 515, 279, 517, 518, 519, 520, 454, 522, 418, 449, 525, 440, 527, 528, 529, 522, 376, 532, 439, 534, 535, 303, 341, 538, 370, 270, 303, 344, 427, 544, 545, 546, 347, 427, 549, 318, 551, 552, 553, 177, 555, 252, 557, 173, 559, 194, 561, 562, 563, 564, 565, 566, 567, 229, 238, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 185, 169, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 263, 593, 494, 595, 596, 597, 598, 599, 600, 356, 602, 603, 545, 605, 606, 607, 532, 382, 351, 367, 612, 515, 338, 383, 447, 617, 618, 619, 620, 389, 622, 623, 624, 625, 413, 627, 628, 415, 522, 454, 332, 633, 634, 438, 382, 637, 638, 349, 370, 379, 334, 643, 644, 612, 646, 647, 648, 649, 434, 651, 652, 653, 654, 655, 656, 657, 658, 659, 392, 619, 662, 373, 399, 665, 666, 667, 668, 669, 670, 671, 399, 667, 674, 659, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 682, 688, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 707, 710, 711, 712, 713, 714, 701, 716, 712, 718, 705, 713, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 693, 736, 737, 738, 739, 740, 741, 682, 743, 744, 745, 746, 747, 748, 749, 750, 726, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 674, 763, 747, 765, 766, 767, 768, 705, 710, 771, 772, 773, 774, 775, 776, 777, 777, 779, 774, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 795, 793, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 808, 811, 793, 813, 798, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 861, 863, 864, 865, 866, 835, 863, 869, 870, 871, 872, 873, 874, 875, 856, 877, 878, 879, 851, 851, 882, 851, 884, 882, 886, 887, 888, 889, 890, 891, 892, 893, 894, 865, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 906, 910, 911, 912, 913, 914, 906, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 937, 945, 946, 947, 948, 949, 950, 951, 948, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 953, 942, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 979, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 995, 998, 999, 999, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1011, 1014, 1015, 1016, 1017, 1018, 1011, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1043, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1046, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1085, 1087, 1088, 1089, 1090, 1091, 1087, 1046, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1031, 1120, 1121, 1040, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1032, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1083, 1150, 1151, 1152, 1077, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1163, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1083, 1177, 1152, 1087, 1180, 1181, 1182, 1183, 1184, 1185, 1099, 1187, 1062, 1189, 1190, 1191, 1192, 1193, 1194, 1065, 1196, 1197, 1198, 1192, 1200, 1066, 1202, 1068, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1223, 1227, 1228, 1229, 1217, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1237, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252]