In [1]:
import pandas as pd 

df = pd.read_csv('data/fake-data.csv')
df.head()

   Value1  Value2
0      30      60
1      40      80
2      50     100
3      60     120
4      70     140

In [2]:
print(df['Value1'])

0     30
1     40
2     50
3     60
4     70
5     80
6     90
7    100
Name: Value1, dtype: int64

In [3]:
print(df['Value2'])

0     60
1     80
2    100
3    120
4    140
5    160
6    180
7    200
Name: Value2, dtype: int64

In [5]:
import numpy as np 

value1Arr = np.array(df['Value1'])
value2Arr = np.array(df['Value2'])

def add(x,y):
    return x + y

def subtract(x,y,z):
    if z == 'y from x':
        diff = x - y
    if z == 'x from y':
        diff = y - x
    return diff 

value3AddArr = add(value1Arr, value2Arr)

value3SubArr1 = subtract(value1Arr, value2Arr, 'y from x')

value3SubArr2 = subtract(value1Arr, value2Arr, 'x from y')

df['Value3Add'] = value3AddArr

print(df['Value3Add']) 

df['Value3Sub1'] = value3SubArr1 

print(df['Value3Sub1'])

df['Value3Sub2'] = value3SubArr2

print(df['Value3Sub2'])

0     90
1    120
2    150
3    180
4    210
5    240
6    270
7    300
Name: Value3Add, dtype: int64
0    -30
1    -40
2    -50
3    -60
4    -70
5    -80
6    -90
7   -100
Name: Value3Sub1, dtype: int64
0     30
1     40
2     50
3     60
4     70
5     80
6     90
7    100
Name: Value3Sub2, dtype: int64